.chapter-container {
    align-items: flex-start;
    display: flex;
    margin: auto;
    width: 1100px;
}

.chapter-container .menu {
    background: var(--dark-blue) url("/Vanilla/assets/img/facture-block.png");
    background-blend-mode: var(--standart-blend-mode);
    color: var(--light-blue);
    font-weight: 400;
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 20px;
    position: fixed;
    width: 300px;
}

.chapter-container .menu a, a:visited {
    color: var(--light-blue);
    text-decoration: none;
}

.chapter-container .menu a:hover {
    color: #8f93f2;
}

.chapter-container .menu a:active {
    color: var(--light-blue);
}

.chapter-container .menu ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.chapter-container .menu ul li + li {
    border-top: 1px dashed;
    padding-top: 10px;
    margin-top: 10px;
}

.chapter-container .content {
    margin-left: 320px;
    width: 800px;
}

.chapter-container .theme {
    background: var(--dark-blue) url("/Vanilla/assets/img/facture-block.png");
    border-radius: 7px;
    box-shadow: var(--dark-shadow);
    margin-bottom: 30px;
    padding: 20px 40px 40px 40px;
    background-blend-mode: var(--standart-blend-mode);
}

.chapter-container .theme .header {
    background: linear-gradient(to right, var(--blue), #22214E);
    font-weight: 400;
    margin: 25px 0 15px 0;
    padding: 10px 15px;
}

.chapter-container .theme .task + .task {
    border-top: 1px dashed;
    margin-top: 40px;
    padding-top: 15px;
}