:root {
    --dark-shadow: 3px 3px 4px #16183b;
    --ultra-dark-blue: #211d40;
    --dark-blue: #262559;
    --blue: #2d3073;
    --light-blue: #797ff2;
    --nunito-font: 'Nunito', sans-serif;
    --standart-font-size: 16px;
    --standart-blend-mode: multiply;
}

body {
    background: var(--ultra-dark-blue) url("/Vanilla/assets/img/facture-body.jpg");
    color: var(--light-blue);
    font-family: var(--nunito-font);
    font-size: var(--standart-font-size);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0;
    background-blend-mode: var(--standart-blend-mode);
}

h2 {
    color: var(--light-blue);
    font-weight: 700;
}

h3 {
    font-weight: 700;
    text-align: center;
}

button {
    background: var(--ultra-dark-blue);
    border: 0;
    border-radius: 5px;
    box-shadow: var(--dark-shadow);
    color: var(--light-blue);
    cursor: pointer;
    font-family: var(--nunito-font);
    font-size: var(--standart-font-size);
    padding: 10px 20px;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

button:hover {
    background: #242046;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid var(--light-blue);
    padding: 5px 10px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: var(--ultra-dark-blue);
}