body {
    background: #211d40 url("/Vanilla/assets/img/facture-body.jpg");
    color: #797ff2;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 0;
    background-blend-mode: multiply;
}

h2 {
    color: #797ff2;
    font-weight: 900;
}

h3 {
    font-weight: 700;
    text-align: center;
}

button {
    background: #211d40;
    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #16183b;
    color: #797ff2;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    padding: 15px 20px;
}

button:hover {
    background: #797ff2;
    color: #211d40;
}