#field-with-onclicked-ball {
    background: #00FF00 url(/Vanilla/assets/img/facture-body.jpg);
    background-blend-mode: var(--standart-blend-mode);
    border: 10px solid black;
    cursor: pointer;
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

#field-with-onclicked-ball #ball {
    left: 0;
    position: absolute;
    top: 0;
    transition: 500ms ease-in-out;
}

#carousel {
    background: #eee;
    border: 1px solid #CCC;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 500px;
}

#carousel .arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    height: 26px;
    line-height: 24px;
    color: #444;
    display: block;
}

#carousel .arrow:focus {
    outline: none;
}

#carousel .arrow:hover {
    background: #ccc;
    cursor: pointer;
}

#carousel .gallery {
    width: 390px;
    overflow-x: hidden;
    height: 130px;
    position: relative;
}

#carousel ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 500ms;
}

#carousel ul img {
    width: 130px;
    height: 130px;
    display: block; /* убираем пустое место вокруг картинок */
}

#carousel ul li {
    display: inline-block; /* убираем пустое место между элементами списка */
}