#calendar table {
    border-collapse: collapse;
}

#calendar td,
#calendar th {
    border: 1px solid var(--light-blue);
    padding: 5px;
    text-align: center;
}

#calendar th {
    font-weight: bold;
    background-color: var(--ultra-dark-blue);
}