#circle-container, #circle-container2 {
    border: 2px solid var(--blue);
    height: 140px;
    margin: 20px 0;
    position: relative;
    width: 140px;
}

#circle, #circle2 {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    transition-duration: 2s;
    transition-property: width, height, margin-left, margin-top;
}
